services:
  # -----------------------------
  # Airflow services
  # -----------------------------
  airflow-apiserver:
    build:
      context: ./docker
      dockerfile: Dockerfile.airflow
      args:
        AIRFLOW_UID: 50000
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./data:/opt/airflow/data
      - ./config:/opt/airflow/config
    ports:
      - "8080:8080"
      - "5678:5678"
    environment:
      _PIP_ADDITIONAL_REQUIREMENTS: debugpy
    command: webserver
    restart: always
    depends_on:
      - postgres
      - redis

  airflow-scheduler:
    build:
      context: ./docker
      dockerfile: Dockerfile.airflow
      args:
        AIRFLOW_UID: 50000
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./data:/opt/airflow/data
      - ./config:/opt/airflow/config
    environment:
      _PIP_ADDITIONAL_REQUIREMENTS: debugpy
    command: scheduler
    restart: always
    depends_on:
      - postgres
      - redis

  airflow-worker:
    build:
      context: ./docker
      dockerfile: Dockerfile.airflow
      args:
        AIRFLOW_UID: 50000
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./data:/opt/airflow/data
      - ./config:/opt/airflow/config
    environment:
      _PIP_ADDITIONAL_REQUIREMENTS: debugpy
    command: celery worker
    restart: always
    depends_on:
      - postgres
      - redis

  airflow-triggerer:
    build:
      context: ./docker
      dockerfile: Dockerfile.airflow
      args:
        AIRFLOW_UID: 50000
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./plugins:/opt/airflow/plugins
      - ./data:/opt/airflow/data
      - ./config:/opt/airflow/config
    environment:
      _PIP_ADDITIONAL_REQUIREMENTS: debugpy
    command: triggerer
    restart: always
    depends_on:
      - postgres
      - redis
